.image_view {
    /* max-width: 50%;
    height: auto;
    margin: auto; */
}

.card_img {
    max-height: 500px;
    overflow: hidden;
}

.center_card {
    margin: 0 auto;
}

.center_background {
    display: flex;
}